.inputs {
    margin-bottom: 0px;
}

.score_input{
    width: 20px;
    margin: 10px;
    text-align: center;
    
}

.match-error-input {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 0.8rem;
    color:red
}